@use '../../index.scss' as *;
.ReasonsContainer{
  @extend .flex-row;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
  // background-image: url("/public/pemandangan.jpeg");
}
.image{
  display: flex;

}
.imgContent{
  display: flex;
  align-self: center;
  max-width: 100%;

  padding-left: 10px;

  // align-items: center;
}
.content{
  @extend .flex-col;
  padding-left: 20px;
  // gap: 0;
}
.contact{
  @extend .flex-row;
  gap:10px;
}
.imgcontact{
  max-width: 30px;
  max-height: 30px;
  display: flex;
  align-self: center;
  padding-top: 0px;
 
}
.btnContainer{
  @extend .flex-col
  
}
.buttonContact{
  width:200px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: $light-grey;
  gap: 20px;
  margin-top: 30px;
}
.buttonContact:hover{ 
  color: white;
  background-color: black;
}
